.portfolio_container {
  /* margin-top: 8%; */
  background-color: #000;
  position: relative;
}

.portfolio_info {
  position: absolute;
  width: 100vw;
  margin-top: 80px;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #000;
  z-index: 1;
}
