.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1000px) {
  .footer {
    display: none;
  }
}
.footer__menu {
  display: flex;
  margin: 0;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: rgba(0, 0, 0, 0.3); */
  background-color: #000;
  backdrop-filter: blur(20px);
  width: 100%;
  /* padding-top: 10px; */
  /* padding-bottom: 0; */
}

.footer__menu-text {
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: #fff;
  background-color: #000;
  border-radius: 100%;
  width: 70px;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.footer__menu-text:hover {
  transform: translateY(-10px);
}

.footer__menu-text p {
  font-size: 12px;
}
