.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  /* height: 8%; */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.15);
  filter: blur(5);
}

.brand {
  /* height: 100%; */
  /* background-color: red; */
}

.logo {
  width: 40px, auto;
  height: 40px;
  margin-bottom: 0;
  margin-left: 40px;
}

.full_menu {
  /* padding-top: 10px; */
  /* margin-bottom: 0 */
}

.full_menu {
  /* color: #fff; */
  display: flex;
  flex-direction: row;
  /* background-color: red; */
  margin-bottom: 0;
}
.full_menu li {
  color: #fff;
  margin: 0 20px;
}

.full_sub_container {
  position: relative;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.full_sub_container:hover .full_sub_menu {
  display: flex;
}

.full_sub_menu {
  position: absolute;
  left: 0;
  display: none;
  flex-direction: column;
  background-color: #0009;
  border-radius: 10px;
  overflow: hidden;
  margin: 0;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}
.full_sub_menu li {
  color: #fff;
}
.full_sub_menu a:hover {
  background-color: #0009;
}

.header_social_links {
  margin-right: 40px;
}

.header-contact-icon {
  color: #fff;
  margin: 0 10px;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}
.header-contact-icon:hover {
  color: #000;
  transform: translateY(-3px);
}

.header_button_cont {
  position: absolute;
  right: 40px;
  /* background-color: red; */
}

.header-button {
  /* background-color: red; */
  /* display: none; */
  background-color: inherit;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.header-button:active {
  transform: scale(1.2);
}

.header__menu {
  display: none;
  position: absolute;
  right: 0;
  width: 10%;
  border-bottom-left-radius: 20px;
  z-index: 1;
  padding-top: 80px;
  background-color: rgba(0, 0, 0, 1);
  backdrop-filter: blur(20px);
  color: #fff;
}

.header__menu a {
  color: #fff;
}

.header__menu li {
  padding-left: 20px;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.header__menu li:hover {
  transform: translateY(-3px);
  cursor: pointer;
}
